@import "./reset.css";

:root {
    --app-form-bg: rgba(247, 250, 253, 0.5);
    --app-box-shadow: 2px 2px 5px rgb(136, 70, 180);
}


.container {
    width: min(100% - 30px, 1280px);
    margin-inline: auto;    
}

main {
    overflow: hidden;
    margin-top: 50px;
    padding-bottom: 10px;
}

body {
    background: #fff url("../media/bg.png") center center / 
    cover no-repeat fixed; /* the order of the operators is mandatory */
}

h1 {
    text-align: center;
    color: rgb(37, 28, 44);
    letter-spacing: 1.4px;
    padding: 25px;
    margin-top: 50px;
    font-family: "Oswald";
    font-weight: 600;
}

.form-box {
    margin-inline: auto;
    width: 500px;
    background-color: var(--app-form-bg);
    border-radius: 25px;
    box-shadow: 2px 2px 1rem 0 rgba(0, 0, 0, .2);
    padding-bottom: 50px;
}

input[type="text"] {
    font-family: "Oswald";
    letter-spacing: 1.4px;
    background-color: rgba(247, 247, 247, 0.4);
    color: rgb(20, 20, 20);
    font-size: 16px;
    margin-bottom: 15px;
    height: 50px;
    width: 75%;
    margin-left: 12.5%;
    padding-left: 25px;
    border-radius: 15px;
    box-shadow: var(--app-box-shadow);
    transition: border-color .3s ease-in-out;
    border: 1.5px solid rgb(214, 218, 226);
}

input[type="text"]:hover {
    border: 2px solid rgba(218, 128, 245, 0.493);
}

::placeholder { 
    color: rgb(83, 80, 80);
    opacity: 1;
  }

input[type="button"] {
    font-family: "Oswald";
    font-weight: 600;
    letter-spacing: 1.4px;
    background-color: rgba(247, 247, 247, 0.4);
    color: rgb(20, 20, 20);
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 50px;
    width: 37.5%;
    margin-inline: auto;
    border-radius: 15px;
    box-shadow: var(--app-box-shadow);
    transition: border-color .25s ease-in-out;
    transition: background-color .25s ease-in-out;
    border: 1.5px solid rgb(214, 218, 226);

}

input[type="button"]:hover {
    border: 2px solid rgba(218, 128, 245, 0.493);
    background-color: rgba(247, 247, 247, 0.75);
}

input[type="reset"] {
    font-family: "Oswald";
    letter-spacing: 1.4px;
    background-color: rgba(247, 247, 247, 0.096);
    color: rgb(20, 20, 20);
    font-size: 16px;
    margin-bottom: 15px;
    height: 50px;
    width: 37.5%;
    margin-inline: auto;
    margin-left: 12.5%;
    border-radius: 15px;
    box-shadow: var(--app-box-shadow);
    transition: border-color .25s ease-in-out;
    transition: background-color .25s ease-in-out;
    border: 1.5px solid rgb(214, 218, 226);

}

input[type="reset"]:hover {
    border: 2px solid rgba(218, 128, 245, 0.493);
    background-color: rgba(247, 247, 247, 0.3);
}