@import "./reset.css";

:root {
    --app-pink: #f79cb4;
    --app-text-color: #f2f4f6;
    --app-box-color: #444444;
    --app-bg-color: #1B1B1B;
    --app-light-bg-color: #f4f4f5;
    --app-light-box-color: #fcfcfc;
}

html {
    scroll-behavior: smooth;
}

.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
  }

body {
    background-color: #1B1B1B;
}


a {
    text-decoration: none;
}

/* - - - - - - - - - - - - - - - - - - - - - - - */
/*  Hero & Header                                */
/* - - - - - - - - - - - - - - - - - - - - - - - */

.hero-img {
    min-height: 5vh;
    background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url("../media/herobg.jpg"); 
    background-size: auto;
    background-position: center center;
    box-shadow: 1px 1px 50px;
}

.logo {
    width: 50px;
    margin-right: 70px;
}

/* .logo:hover {
    width: 60px;
} */

.flexbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav {
    background-color: rgba(20, 11, 20, 0.8);
    box-shadow: 0px 2px 45px 1px;
}

nav ul li {
    margin: 0 15px;
    list-style: none;
}

nav ul li a {
    padding: 12px;
    font-size: 18px;
    color: #f79CB4;
}

nav ul li a:hover {
    color: #9cf7df;
    font-size: 20px;
    font-weight: 600;
    text-shadow: 2px 2px 25px #9cf7df;
}

nav button, .mode-toggle {
    padding: 7px;
    margin: 10px 0px;
    background-color: var(--app-pink);
    box-shadow: inset 1px 1px 10px 1px #C33D9E, 1px .5px 15px 2px #C33D9E;
    border-radius: 7px;
    width: 8rem;
    height: 3rem;
    color: #030303;
    font-size: 18px;
}

nav button:hover {
    background-color: #a8deeb;
    box-shadow: inset 1px 1px 10px 1px #a8deeb, 1px .5px 15px 1px #a8deeb;
    color: #000;
}

.hamburger {
    display:none;
    font-size: 45px;
    text-decoration: none;
    color: var(--app-pink);
}

/* .hamburger:hover {
    color: #9cf7df;
} */
/* idk why this isn't working */

@media (max-width: 936px) {
    .navlist, .contact-button {
        display: none;
    }

    .hamburger {
        display: block;

    }
}

#section-1 {
    min-height: calc(100vh - 68px - 50px);
}

/* - - - - - - - - - - - - - - - - - - - - - - - */
/*  Radio                                        */
/* - - - - - - - - - - - - - - - - - - - - - - - */

input[type="radio"]{
    -webkit-appearance: radio;
}

.radio {
    font-size: 20px;
    margin-bottom: 15px;
}

/* - - - - - - - - - - - - - - - - - - - - - - - */
/*  General style                                */
/* - - - - - - - - - - - - - - - - - - - - - - - */

.calculator {
    margin: 50px 0;
    background-color: #2e2e2e;
    box-shadow: 2px 3px 15px rgba(8, 8, 8, 0.582);
    border-radius: 10px;
    width: 400px;
    padding: 30px;
}

.calculator, input {
    color: var(--app-text-color);
}

h3:first-of-type {
    margin-bottom: 10px;
}

p {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 8px;
}



input[type="text"] {
    background-color: var(--app-box-color);
    margin-bottom: 20px;
    padding: 10px;
    font-size: 20px;
    width: 200px;
    height: 40px;
    border-radius: 5px;
}

/* I can't for the life of me get this properly aligned with the form */
.calculate {
    height: 40px;
    width: 100px;
    border-radius: 5px;
    margin-left: 10px;
    background-color: var(--app-pink);
}

.output {
    width: 200px;
    height: 40px;
    background-color: var(--app-box-color);
    border-radius: 5px;
    font-size: 20px;
    padding: 5px;
}

.mode-toggle {
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 30px;
}

.flashbang {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-bottom: 80px;
    margin-right: 25px;
    color: var(--app-text-color);
}

/* - - - - - - - - - - - - - - - - - - - - - - - */
/*  Light-mode styling                           */
/* - - - - - - - - - - - - - - - - - - - - - - - */

.light-mode {
    background: var(--app-light-bg-color);
}

.light-mode input[type="text"], .light-mode .output {
    background-color: var(--app-light-box-color);
    color: #000;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(121, 121, 121, 0.61);
    box-shadow: 2px 4px 10px #c2c2c2;
}

.light-mode p, .light-mode h3 {
    color: #000;
}

.light-mode .calculator {
    background-color: #f3f3f3;
    box-shadow: 2px 4px 10px #adacac;
}

.light-mode .hero-img {
    box-shadow: 0px 0px 0px;
}

.light-mode .mode-toggle {
    background-color: #a8deeb;
    box-shadow: inset 1px 1px 10px 1px #a8deeb, 1px .5px 15px 1px #a8deeb;
}

/* - - - - - - - - - - - - - - - - - - - - - - - */
/*  Footer                                       */
/* - - - - - - - - - - - - - - - - - - - - - - - */

footer {
    height: 150px;
    background-color: #0f0f0f;
    color: var(--app-text-color);
}

footer p {
    margin-top: 50px;
}

footer li {
    display: inline;
}

footer li a {
    color: var(--app-text-color);
    margin: 15px 0;
    font-size: 25px;
}

footer i {
    padding-top: 65px;
    padding-right: 10px;
}

.copyright {
    font-weight: 300;
}

footer .fa-brands {
    font-size: 30px;
}

footer .fa-brands:hover {
    color: var(--app-pink);
}