@import "./reset.css";

.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
}

body {
    background-color: #f0f2f4;
}

/**********************/
/*       header       */
/**********************/

header {
    min-width: 100%;
    background-color: #FF9494   ;
    overflow: hidden;
}

.flexbox {
    display: flex;
}

.title {
    width: 40%;
    height: 56px;
}

.title h1 {
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    line-height: 56px;
    text-transform: uppercase;
    letter-spacing: 0.2px;
}

nav {
    width: 60%;
    text-align: right;
}


nav ul li {
    display: inline;
    line-height: 56px;
    cursor: default;
}

nav ul li a {
    font-size: 17px;
    width: 10%;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 0.4px;
    cursor: pointer;
    padding: 100% 15px;
}

nav ul li + li {
    margin-left: 20px;
}

nav ul li a:hover {
    background-color: #FFD1D1;
}

/**********************/
/*    section body    */
/**********************/

/* main grid sizing */
.grid-container {
    min-height: calc(100vh - 56px - 85px); /* subtract the height of the header
    and footer */
    display: grid;
    justify-content: center;
    padding: 25vh;
    grid-template-columns: 15rem 15rem 15rem;
    grid-template-rows: 5rem 5rem;
    gap: 1.5rem;

}

/* colors and shadows */
.grid-container > div {
    background: rgb(255,255,255);
    background: linear-gradient(103deg, rgba(255,255,255,1) 22%, rgba(255,241,241,1) 100%);
    border-radius: 5px;
    box-shadow: 1px 1px 5px 1.5px #FFD1D1;
    /* box-shadow: inset 1px 1px 1px 1px #ffd1d1; */
    transition: ease-in-out .25s;
}

.grid-container > div:hover {
    background: rgb(255 255 255 / 0.75);
    cursor: pointer;
}

/* paragraph content in grid */
.grid-container div p {
    text-align: left;
    font-weight: 300;
    font-size: 15px;
    position: relative;
    top: 20px; /* the only way I could figure out how to vertically align. Nothing else worked */
}

/* icons in grid */
.grid-item i {
    font-size: 30px;
    position: relative;
    top: calc(50% - 25px); /* vertically aligns in a crappy way */
    float: left;
    padding: 10px;
    margin-left: 10px;
    color: #FF9494;
}

.grid-item .first-word {
    font-weight: 500;
    font-size: 1.5rem;
    color: #FF9494;
}

/**********************/
/*      footer        */
/**********************/

footer {
    height: 85px;
    background-color: #FFD1D1;
}

/* sets the content in the footer */
.footer-flexbox {
    display: flex;
    justify-content: space-between;
}
/* puts the list side by side */
footer li {
    display: inline;
}

footer li a {
    color: #fff;
    font-size: 30px;
    text-decoration: none;
    margin-top: 27.5px;
}

/* ignores the first icon and moves the rest right*/
footer li:not(:first-child) {
    margin-left: 23px;
}

footer li a:hover {
    color: #FF9494;
}

/* copy */
footer p {
    font-weight: 300;
    color: rgb(133, 128, 141);
    text-align: right;
    margin-top: 30px;
}